* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}

/**
 * Desktop version style
 */

.table-desk {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.table-desk__title {
    padding: 15px 0;
    text-align: center;
    font-size: 26px;
}

.table-desk__header {
    background-color: #fff;
    color: #9e9e9e;
    font-size: 16px;
}

.table-desk__header .table-desk__col {
    font-weight: 400;
}

.table-desk__body {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
}

.table-desk__foot {
    color: dodgerblue;
}

.table-desk__row {
    min-height: 48px;
}

.table-desk__col {
    padding: 6px 12px;
    border: 1px solid #ddd;
    height: 48px;
    max-height: 100%;
    text-align: left;
}

.table-col--left {
    text-align: left;
}

.table-col--center {
    text-align: center;
}

.table-col--right {
    text-align: right;
}


.table-desk__col--first:first-child {
    text-align: center;
    width: 60px;
}

/**
 * Mobile version style
 */

.table-mob {
    display: block;
    border: none;
}

.table-mob__title {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 26px;
}

.table-mob__header {
    display: none;
}

.table-mob__body {
    color: rgba(0, 0, 0, 0.87);
    display: block;
}

.table-mob__foot {
    display: block;
}

.table-mob__row {
    display: block;
    margin-bottom: 15px;
    min-height: 48px;
    background-color: #fafafa;
}

.table-mob__col {
    display: block;
    padding: 15px;
    min-height: 48px;
    border: 1px solid #ddd;
}

.table-mob__col > span:first-child {
    display: inline-block;
    width: 40%;
    color: #9e9e9e;
    font-weight: bold;
    text-align: left;
}

.table-mob__col > span:last-child {
    display: inline-block;
    width: 60%;
    text-align: right;
}
